# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar archivos de salida de compilación
dist/
build/

# Ignorar archivos de Vite (si aplica)
.vite/
.cache/

# Ignorar logs y archivos temporales
*.log
